[submodule "build/docsys/kfmxml"]
	path = build/docsys/kfmxml
	url = https://github.com/niftools/kfmxml.git
[submodule "build/docsys/nifxml"]
	path = build/docsys/nifxml
	url = https://github.com/niftools/nifxml.git
